# Variáveis de ambiente
.env
.env.*
!.env.example

# Arquivos de log
*.log
npm-debug.log
yarn-error.log

# Git
.git
.gitignore

# Documentação e arquivos do sistema
*.md
.DS_Store

# IDEs e editores
.vscode/
.idea/

# Testes e cobertura
tests/
__tests__/
coverage/

# Dependências e arquivos temporários de build
**/node_modules/
**/dist/
**/.next/
**/.vite/
**/.cache/

# Docker
Dockerfile
.dockerignore
