# Ignorar node_modules e arquivos inúteis
node_modules
**/node_modules
**/.cache
**/.next
**/.vite
*.log
.dockerignore
Dockerfile

# Ignorar arquivos temporários e IDEs
.vscode
.idea
.DS_Store

# Ignorar tudo fora de backend e frontend
/*
!backend/
!frontend/
