.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 2.5rem;
  background-color: #1f1f1f;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.input,
.fileInput {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 16px;
}

.input::placeholder {
  color: #aaa;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #646cff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #535bf2;
}
